@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current Fibonacci count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private Int64 currentCount = 5;

    private void IncrementCount()
    {
        //currentCount++;
        currentCount = new Fibonacci().Fib(currentCount);

    }
    public class Fibonacci
    {
        public long Fib(Int64 n)
        {
            double a = n * (1 + Math.Sqrt(5)) / 2.0;
            return (long)Math.Round(a);
    }
    }
}
